<header>
  <div class="container text-center"><img src="../../assets/images/Logo.svg" style="width: 120px;" /></div>
</header>
<div class="custom-shape-divider-bottom-1607912061">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>
<!-- <div class="afterHeader">
  <img src="../../assets/images/patt.jpg" style="max-width: 100%;width: 100%;position: relative;top: -1px;" />
</div> -->
<form class="small-form form-after-bg" [formGroup]="loginForm" (ngSubmit)="login()">
  <h4 class="we600 form-title">تسجيل الدخول</h4>
  <div class="form-group">
    <input type="email" name="email" class="form-control" formControlName="email" placeholder="البريد الالكترونى" />
    <span class="small text-danger" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">من فضلك قم بادخال البريد
      الالكترونى</span>
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control" formControlName="password" placeholder="كلمة المرور">
    <span class="small text-danger" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">من فضلك قم بادخال كلمة
      المرور</span>
  </div>
  <!-- <span class="custom-span">نسيت كلمة المرور ؟</span> -->
  <div class="clearfix">
    <button class="btn  btn-success float-right" type="submit">تسجيل الدخول</button>
    <button class="btn btn-primary float-left" type="button" (click)="register()">مستخدم جديد؟</button>
  </div>
</form>
<h4 *ngIf="loginMessage != ''" class="error-login">{{loginMessage}}</h4>

<!-- <router-outlet></router-outlet> -->
