<div *ngIf="showCourseButton" class="text-center no-result-general plus-btn-container">
  <p class="text-center">لا يوجد دورات تدريبية مضافة</p>
  <button type="button" (click)="showCourseForm()" class="btn btn-success  form-control-general">أضافة دورة تدريبية</button>
</div>


<form *ngIf="showAdd" [(formGroup)]="addCourseForm" (ngSubmit)="addCourse()">
  <div class="form-group">
    <div class="we600 form-title2 text-right">اضافة دورة تدريبية</div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-item">
            <h6 class="input-title">اسم الدورة التدريبية <span>*</span></h6>
            <input type="text" name="Name" class="form-control" formControlName="Name"
              placeholder="اسم الدورة التدريبية" />
            <span *ngIf="!addCourseForm.get('Name').valid && addCourseForm.get('Name').touched">ادخل اسم
              الدورة التدريبية</span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 "></div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-item">
            <h6 class="input-title">تاريخ الدورة التدريبية<span>*</span></h6>
            <input type="date" name="courseDate" class="form-control" formControlName="courseDate" />
            <span *ngIf="!addCourseForm.get('courseDate').valid && addCourseForm.get('courseDate').touched">أختار تاريخ الدورة التدريبية</span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 "></div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-item">
            <h6 class="input-title">نبذة عن الدورة التدريبية <span>*</span></h6>
            <input type="text" name="Description" class="form-control" formControlName="Description"
              placeholder="نبذة عن الدورة التدريبية" />
            <span *ngIf="!addCourseForm.get('Description').valid && addCourseForm.get('Description').touched">ادخل نبذة عن الدورة التدريبية</span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 "></div>
          <div formArrayName="Files" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-item" *ngFor="let file of addCourseForm.get('Files')['controls']; let i = index">


            <div class="form-group attach-container attach-general"[formGroupName]="i"  >
              <div>
                <input type="file" (change)="onChange($event)" name="attach" class="form-control attach-input"   placeholder="ورقة تعريف الموظف"> 
              <input type="text" hidden name="attach" class="form-control" formControlName="FileBase64">
              </div>
              

            </div>
          </div>

  <!-- <div formArrayName="hoppies">
    <div class="form-group" *ngFor="let hoppy of registerForm.get('hoppies')['controls']; let i = index">
      <input type="text" class="form-control" [formControlName]="i" />
    </div>
    <button type="button" (click)="addHopy()">Add hoppy</button>
  </div> -->


          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 "></div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
            <button style="margin-left: 30px;" type="submit" class="btn btn-success">حفظ</button>
            <button (click)="cancelAdd()" type="button" class="btn btn-primary">الرجوع</button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-item">
            
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-item"></div>




        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

      </div>
    </div>


  </div>
</form>
