<div class="row">
    <div class="col-lg-3 col-md-6 col-12 followers-full-container">
        <div class="card  profile-item followers-item">
            <div class="card-body">
                <div>
                    <img class="profile-img followers-img" src="../../assets/images/a.jpg" /> 
                    <span>الطلاب</span>
                </div>
                <div class=" names-container">
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                </div>
             
            </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 followers-full-container">
        <div class="card  profile-item followers-item">
            <div class="card-body">
                <div>
                    <img class="profile-img followers-img" src="../../assets/images/a.jpg" /> 
                    <span>المدرسين</span>
                </div>
                <div class=" names-container">
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                </div>
             
            </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 followers-full-container">
        <div class="card  profile-item followers-item">
            <div class="card-body">
                <div>
                    <img class="profile-img followers-img" src="../../assets/images/a.jpg" /> 
                    <span>القادة</span>
                </div>
                <div class=" names-container">
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                </div>
             
            </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 followers-full-container">
        <div class="card  profile-item followers-item">
            <div class="card-body">
                <div>
                    <img class="profile-img followers-img" src="../../assets/images/a.jpg" /> 
                    <span>المشرفين</span>
                </div>
                <div class=" names-container">
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                </div>
             
            </div>
          </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 followers-full-container">
        <div class="card  profile-item followers-item">
            <div class="card-body">
                <div>
                    <img class="profile-img followers-img" src="../../assets/images/a.jpg" /> 
                    <span>الاطباء</span>
                </div>
                <div class=" names-container">
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                    <h6 class="card-title title">احمد حسن السيد احمد</h6>
                    <h6 class="card-title title">محمد مصطفى عبدالرحمن</h6>
                    <h6 class="card-title title">صلاح سيد محمد</h6>
                </div>
             
            </div>
          </div>
    </div>
</div>

