<header class="curved-bg">
  <div class="container text-center"><img src="../../assets/images/Logo.svg" style="width: 120px;" /></div>
</header>
<!-- <div class="afterHeader">
    <img src="../../assets/images/patt.jpg" style="max-width: 100%;" />
</div> -->
<form class="small-form2 small-form form-after-bg" [(formGroup)]="registerForm" (ngSubmit)="register()">
  <h4 class="we600 form-title">التسجيل</h4>
  <div class="step-1" [ngClass]="stepValue == 1 ? 'd-block' : 'd-none'">
    <div class="form-group">
      <input type="text" name="FirstName" class="form-control" formControlName="FirstName" placeholder="الاسم الاول" />
      <span class="small text-danger" *ngIf="!registerForm.get('FirstName').valid && registerForm.get('FirstName').touched">ادخل الاسم الاول</span>

    </div>
    <div class="form-group">
      <input type="text" name="LastName" class="form-control" formControlName="LastName" placeholder="الاسم الاخير">
      <span class="small text-danger" *ngIf="!registerForm.get('LastName').valid && registerForm.get('LastName').touched">ادخل
        الاسم الاخير</span>
    </div>
    <div class="form-group">
      <input type="email" email name="Email" class="form-control" formControlName="Email" placeholder="البريد الالكترونى">
      <span class="small text-danger" *ngIf="!registerForm.get('Email').valid && registerForm.get('Email').touched">ادخل
        البريد الالكترونى</span>
    </div>
    <div class="form-group">
      <input type="password" name="Password" class="form-control" formControlName="Password" placeholder="الرقم السرى">
      <span class="small text-danger" *ngIf="!registerForm.get('Password').valid && registerForm.get('Password').touched">ادخل الرقم
        السرى</span>
    </div>
    <div class="form-group">
      <input type="password" name="REpassword" class="form-control" formControlName="REpassword" placeholder="اعادة كتابة الرقم السرى">
      <span class="small text-danger" *ngIf="!registerForm.get('REpassword').valid && registerForm.get('REpassword').touched">اعد كتابة الرقم
        السرى</span>
    </div>
    <span class="small text-danger" *ngIf="registerForm.get('REpassword').touched && registerForm.get('Password').value != registerForm.get('REpassword').value">password dosen't match</span>


    <div class="clearfix">
      <button [disabled]="registerForm.get('Password').value != registerForm.get('REpassword').value" (click)="stepValue = 2" class="btn btn-success float-right" type="button">التالى</button>
      <a routerLink="/login" class="btn btn-primary float-left" type="button">لديك حساب؟</a>
      <!-- <button class="btn btn-success float-left" type="button">السابق</button> -->
    </div>
  </div>
  <div class="step-2" [ngClass]="stepValue == 2 ? 'd-block' : 'd-none'">
    <div class="form-group">
      <input type="text" name="PhoneNumber" class="form-control" formControlName="PhoneNumber" placeholder="رقم الجوال">
      <span class="small text-danger" *ngIf="!registerForm.get('PhoneNumber').valid && registerForm.get('PhoneNumber').touched">ادخل رقم الجوال
      </span>
    </div>
    <div class="form-group">
      <label for="JobTypeId">الوظيفة</label>
      <select formControlName="JobTypeId" name="JobTypeId" class="form-control" (change)="logselect()">
        <option value="0" selected>والد / والدة</option>
        <option value="1">مدرس / مدرسة</option>
        <option value="2">مشرف / مشرفة</option>
        <option value="3">قائد / قائدة</option>
      </select>
    </div>



    <div class="form-group" *ngIf="showSchoolSelect">
      <div class="form-group">
        <label for="AreaId">اسم المنطقة</label>
        <select formControlName="AreaId" name="AreaId" class="form-control">
          <option disabled selected>اسم المنطقة</option>
          <option [value]="area.Id" *ngFor="let area of areas">{{area.Name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="SchoolId">اسم المدرسة</label>
        <select formControlName="SchoolId" name="SchoolId" class="form-control">
          <option [value]="school.SchoolId" *ngFor="let school of schools">{{school.Name}}</option>
        </select>
      </div>
      <div class="form-group attach-container">

        <input type="file" name="attach" class="form-control attach-input" (change)="onChange($event)" placeholder="ورقة تعريف الموظف">
        <input type="text" hidden name="attach" class="form-control" formControlName="FileBase64">

      </div>
    </div>


    <div class="clearfix">
      <button class="btn btn-success float-right" type="submit">تسجيل</button>
      <button (click)="stepValue = 1" class="btn btn-success float-left" type="button">السابق</button>
    </div>
  </div>


  <!-- sssssss<h1>{{registerForm}}</h1> -->
  <!-- <div class="clearfix">
        <button class="btn btn-primary float-right" type="submit">التالى</button>
        <button class="btn btn-success float-left" type="button">السابق</button>
    </div> -->
</form>

<h4 *ngIf="errorMessage != ''" class="error-login">{{errorMessage}}</h4>
<div *ngIf="successNessage!=''" class="register-success">
  <h4 class="we600 form-title">التسجيل</h4>
  <h6>تم تسجيلك بنجاح</h6>
  <h6>سيتم ارسال ايميل تأكيد بمجرد تأكيد معلوماتك</h6>
</div>
